*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
analysisLogs/houstonLogs_1513718122707.log
analysisLogs/houstonLogs_1513718141718.log
analysisLogs/houstonLogs_1513719032196.log
analysisLogs/houstonLogs_1514094266553.log
analysisLogs/houstonLogs_1514094287791.log
analysisLogs/houstonLogs_1514094662296.log
analysisLogs/houstonLogs_1514095573333.log
analysisLogs/houstonLogs_1514096169706.log
analysisLogs/houstonLogs_1514096340244.log
analysisLogs/houstonLogs_1515006223273.log
analysisLogs/houstonLogs_1515006238218.log
analysisLogs/houstonLogs_1515006317431.log
analysisLogs/houstonLogs_1515519531571.log
analysisLogs/houstonLogs_1515520082061.log
analysisLogs/houstonLogs_1515532050451.log
analysisLogs/houstonLogs_1515612942004.log
analysisLogs/houstonLogs_1515796200911.log
analysisLogs/houstonLogs_1515796497097.log
analysisLogs/houstonLogs_1515796517322.log
analysisLogs/houstonLogs_1515796530124.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1513718658458.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1513719219983.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1513914255467.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1513914287363.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1513914425498.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1513915190680.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1513915905387.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514093564173.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514093649533.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514094108906.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514094173748.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514095803805.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514162547387.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514163363861.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514165301625.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514482902821.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514484051500.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514484326369.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514484421085.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514484442871.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514484494779.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514485431191.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514485431196.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514485490458.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514485490460.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514485631896.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514485679526.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514485729710.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514487491462.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1514487542032.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1515519582803.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1515519642947.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1515520329360.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1515520597167.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1515520780926.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1515521418714.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1515532157809.log
src/main/resources/WeatherDataArchive/weatherDataCuriosityActual_1515613068852.log
statusLogs/houstonLogs_1513717842221.log
statusLogs/houstonLogs_1513718273372.log
statusLogs/houstonLogs_1513822420097.log
statusLogs/houstonLogs_1513912002728.log
statusLogs/houstonLogs_1513912104043.log
statusLogs/houstonLogs_1513912673231.log
statusLogs/houstonLogs_1513915503251.log
statusLogs/houstonLogs_1514092322109.log
statusLogs/houstonLogs_1514092392651.log
statusLogs/houstonLogs_1514095415318.log
statusLogs/houstonLogs_1514178543194.log
statusLogs/houstonLogs_1514178733383.log
statusLogs/houstonLogs_1514482306386.log
statusLogs/houstonLogs_1515003176180.log
statusLogs/houstonLogs_1515519445124.log
statusLogs/houstonLogs_1515532095554.log
statusLogs/houstonLogs_1515612758776.log
statusLogs/houstonLogs_1515612878401.log
statusLogs/houstonLogs_1515795930299.log
statusLogs/houstonLogs_1515796015295.log
statusLogs/houstonLogs_1515796149306.log
statusLogs/houstonLogs_1515796334748.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1513718658458.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1513719219983.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1513914255467.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1513914287363.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1513914425498.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1513915190680.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1513915905387.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514093564173.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514093649533.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514094108906.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514094173748.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514095803805.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514162547387.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514163363861.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514165301625.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514482902821.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514484051500.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514484326369.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514484421085.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514484442871.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514484494779.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514485431191.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514485431196.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514485490458.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514485490460.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514485631896.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514485679526.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514485729710.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514487491462.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1514487542032.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1515519582803.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1515519642947.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1515520329360.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1515520597167.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1515520780926.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1515521418714.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1515532157809.log
target/classes/WeatherDataArchive/weatherDataCuriosityActual_1515613068852.log
